<ol class="breadcrumb">
  <li class="breadcrumb-item active"><%= link_to 'Users', users_path %></li>
  <li class="breadcrumb-item active">Create New User</li>
</ol>

<h1>New User</h1>

<%= render 'form', user: @user %>
