// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

.main {
  padding: 20px;
}

#log {
  #message {
    margin-top: 10px;
    padding-left: 20px;
  }

  #channel, #year, #month, #day {
    ul {
      margin-left: 0;
      -webkit-padding-start: 0;
    }

    ul li {
      list-style-type: none;
      #width: 100%;
      height: 30px;

      a {
        padding-left: 10px;
        display: block;
        height: 30px;
        text-decoration: none;
        line-height: 30px;
      }

      a:hover {
        background-color: #aec4de;
        color: #222222;
      }
    }
  }

  #year, #month, #day {
    li {
      padding-left: 0;
      text-align: center;
    }
  }

  .active a {
    background-color: #445588;
    color: #f9f9f9;
  }
}

.search-query {
  width: 100% !important;
}

tr:target {
  background-color: #fff3c2 !important;
}
