@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

.date {
  white-space: nowrap;
}

.user {
  white-space: nowrap;
}

#channel-selector {
  margin-top: 20px;
  margin-bottom: 10px;
}

#channels-list {
  max-height: 500px;
  overflow-y: scroll;
}
