<% content_for :title do %>
  <%= "Daily Logs | Baku" %>
<% end %>

<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <div id="log-header" class="row">
      <div>
        <h1>Logs</h1>
      </div>
    </div>
  </div>

  <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
    <div id="log">
      <div id="message">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">No Permissions</h4>
          <p>
            No channels you can read.
          </p>
          <p class="m-b-0">
            Ask administrator to your permissions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
